html {
  scroll-behavior: smooth;
  visibility: hidden;
}

html.wf-active,
html.loading-delay {
  visibility: visible;
}

body {
  color: #717171;
  font-size: 16px;
  margin: 0 auto;
  background-color: #f2f2f2;
  font-family: "fot-cezanne-pron", sans-serif;
  font-weight: 500;
  font-style: normal;
}

h2 {
  font-family: sofia-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  letter-spacing: 0.07em;
  text-align: center;
  margin-bottom: 5%;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/

h1 {
  font-family: sofia-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 28px;
  letter-spacing: 0.07em;
}

.header-menu {
  background-color: #ffffff;
  height: 75px;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5% 5%;
  z-index: 100;
}

.header-menu ul {
  display: flex;
  gap: 30px;
  font-family: sofia-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 0.07em;
}

/*-------------------------------------------
メインビジュアル
-------------------------------------------*/

.mainvisual {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
  position: relative;
}

.mainvisual-pc-img {
  margin-top: 140px;
  max-width: 1100px;
  width: 90%;
  z-index: 1;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 8px 8px 15px #d3d3d3;
}

.mainvisual-text-img {
  width: 28%;
  position: absolute;
  z-index: 10;
  left: 13%;
  top: 30%;
}

.mainvisual-sp-img {
  display: none;
}

/*-------------------------------------------
導入
-------------------------------------------*/

.introduction {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 2s, transform 2s;
}

.introduction p {
  width: 720px;
  margin: 0 auto;
  line-height: 1.8;
  letter-spacing: 0.17em;
  margin-bottom: 8%;
}

/*-------------------------------------------
Works
-------------------------------------------*/

.works {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 2s, transform 2s;
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
}

.Works-list-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 5% 3%;
  margin: 0 auto;
  margin-bottom: 30%;
  max-width: 1100px;
}

.Works-list-banner {
  margin-bottom: 15%;
}

.Works-img-box {
  overflow: hidden;
  width: 100%;
  margin-bottom: 5%;
  box-shadow: 3px 3px 3px #dcdbdb;
  border-radius: 5px;
  background-color: #fff;
}

.works-title {
  line-height: 1.3;
}

.works-title span {
  font-size: 14px;
  color: #9f9f9f;
}

.Works-list-wrap img {
  border-radius: 5px;
  width: 100%;
  object-fit: cover;
  transition-duration: 0.7s;
  object-fit: cover;
}

.Works-list-wrap a {
  letter-spacing: 0.1em;
  font-feature-settings: "palt";
}

.Works-list-wrap img:hover {
  transform: scale(1.08);
  opacity: 0.7;
}

/* タブ部分 */

.tab_container {
  padding-bottom: 1em;
  margin: 0 auto;
  width: 90%;
}

.tab_item {
  width: 200px;
  padding: 15px 0;
  background-color: #b8b8b8;
  text-align: center;
  color: #3f3f3f;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
  border-radius: 10px 10px 0px 0px;
  letter-spacing: 0.1em;
}

.tab_item:hover {
  opacity: 0.75;
}

.tab_item_banner {
  margin-left: 5px;
}

input[name="tab_item"] {
  display: none;
}

.tab_content {
  display: none;
  padding: 2em 0 0 0;
  clear: both;
  overflow: hidden;
}

.tab_content_description img {
  width: 100%;
}

.Works-list-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 5%;
}

#tab1:checked ~ #tab1_content,
#tab2:checked ~ #tab2_content {
  display: block;
}
.tab_container input:checked + .tab_item {
  background-color: #515151;
  color: #fff;
  border-radius: 10px 10px 0px 0px;
}

@media screen and (max-width: 900px) {
  .Works-list-wrap {
    display: block;
  }

  .tab_item {
    width: 100px;
    padding: 10px 0;
  }
}

@media screen and (max-width: 450px) {
  .tab_content {
    padding: 1em 0 0 0;
  }

  .tab_item {
    margin-top: 7%;
  }
}

/*-------------------------------------------
Works_リンク先
-------------------------------------------*/
.works-img-mainvisual {
  max-width: 1100px;
  width: 90%;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  margin-bottom: 5%;
  box-shadow: 3px 3px 3px #dcdbdb;
}

.works h3 {
  font-size: 30px;
  font-family: Hiragino Kaku Gothic Pro;
  margin: 0 auto;
  font-family: "fot-cezanne-pron", sans-serif;
  font-weight: 500;
  border-bottom: 1px solid #725f4e;
  padding-bottom: 1.5%;
  margin: 3% 0% 5% 0%;
  font-feature-settings: "palt";
  letter-spacing: 0.1em;
  line-height: 1;
}

.works h3 span {
  font-size: 16px;
}

.works-content h3 {
  font-size: 16px;
}

.works-content h3 {
  font-size: 30px;
  font-family: Hiragino Kaku Gothic Pro;
  margin: 0 auto;
  font-family: "fot-cezanne-pron", sans-serif;
  font-weight: 500;
  border-bottom: 1px solid #725f4e;
  padding-bottom: 1.5%;
  margin: 3% 0% 5% 0%;
  font-feature-settings: "palt";
  letter-spacing: 0.1em;
  line-height: 1.2;
}

.qr {
  width: 85px;
}

h4 {
  font-family: Hiragino Kaku Gothic Pro;
  margin: 0 auto;
  background-color: #f2f2f2;
  font-family: "fot-cezanne-pron", sans-serif;
  font-weight: 900;
  font-size: 21px;
  letter-spacing: 0.1em;
  border-left: 3px solid;
  padding-left: 1.3%;
  margin-bottom: 1%;
  font-feature-settings: "palt";
}

.works-content a {
  color: #b20029;
}

.works-content a:hover {
  color: #da7c92;
  transition: 0.3s;
}

.works-content {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}

.works-content p {
  line-height: 1.8;
}

.works-content-url p {
  line-height: 2.5;
}

.works-content-url {
  margin-bottom: 5%;
}

.works-content-item {
  margin-bottom: 5%;
}

.works-img-visual-wrap {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5%;
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 12%;
}

.works-img-visual-wrap img:nth-child(1) {
  width: 100%;
  box-shadow: 3px 3px 5px #dcdbdb;
}

.works-img-visual-wrap img:nth-child(2) {
  width: 100%;
  box-shadow: 3px 3px 5px #dcdbdb;
}

.more-list {
  background-color: #fff;
  padding: 10% 0%;
}

.more-list-wrap {
  margin-bottom: 10%;
  width: 90%;
}

/*-------------------------------------------
Skill
-------------------------------------------*/

.skill {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 2s, transform 2s;
  max-width: 1100px;
  margin: 0 auto;
  width: 90%;
}

.skill-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8% 2%;
  margin: 0 auto;
  margin-bottom: 16%;
}

.skill-text-wrap {
  background-color: #fff;
  box-shadow: 4px 4px 7px #dcdbdb;
  border-radius: 5px;
  text-align: center;
  padding: 10% 7% 10% 7%;
}

.skill-icon-img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.skill-text {
  line-height: 1.3;
  letter-spacing: 0.08em;
  font-size: 14px;
  font-feature-settings: "palt";
}

.skill-text p:nth-child(1) {
  margin-top: 5%;
  margin-bottom: 5%;
  line-height: 1.3;
  font-size: 15px;
  border-bottom: 1px solid #c4bdb8;
  min-height: 30px;
}

.skill-text p:nth-child(2) {
  text-align: justify;
}

/*-------------------------------------------
about
-------------------------------------------*/

.about {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 2s, transform 2s;
}

.about-text-wrap span {
  font-size: 35px;
  letter-spacing: 0.17em;
}

.about-text-wrap {
  width: 730px;
  margin: 0 auto;
  line-height: 2;
  letter-spacing: 0.17em;
  margin-bottom: 6%;
}

.about-text {
  margin-top: 2%;
  margin-bottom: 30px;
  line-height: 1.8;
}

.link-btn {
  margin-bottom: 10%;
}

.link-btn a {
  background: #717171;
  border-radius: 3px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 230px;
  padding: 13px 25px;
  color: #ffffff;
  transition: 0.3s ease-in-out;
  font-weight: 500;
  letter-spacing: 0.3em;
  border-radius: 25px;
  box-shadow: 4px 4px 5px #dcdbdb;
}

.wlink-btn a:after {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 0;
  right: 2rem;
  font-size: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.3s;
  width: 6px;
  height: 6px;
  border-top: solid 2px currentColor;
  border-right: solid 2px currentColor;
  transform: translateY(-50%) rotate(45deg);
}

.link-btn a:hover {
  background: #999999;
  color: #fff;
  transition: all 0.5s ease 0s;
}

.link-btn a:hover:after {
  right: 1.4rem;
}

/*-------------------------------------------
about_リンク先
-------------------------------------------*/
.internal-page-h2 {
  padding-top: 15%;
}

.strengths {
  text-align: center;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 2s, transform 2s;
}

.strengths h3 {
  font-family: sofia-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
  margin-bottom: 1.5%;
  margin-top: 50px;
}

.strengths-wrap {
  display: flex;
  justify-content: center;
  gap: 30px;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 10%;
}

.strengths-text-wrap {
  text-align: center;
  width: 25%;
}

.strengths h3 {
  font-size: 40px;
  letter-spacing: 0.15em;
}

.strengths-icon-img {
  width: 45%;
  margin-bottom: 7%;
}

.strengths-lead {
  font-size: 22px;
  margin-bottom: 5%;
  min-height: 48px;
}

.strengths-lead-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.15em;
  text-align: left;
}

.idea_source {
  text-align: center;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 2s, transform 2s;
  max-width: 1400px;
  margin: 0 auto;
}

.idea_source h3 {
  font-family: sofia-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  margin-bottom: 1.5%;
  margin-bottom: 1.5%;
  text-align: center;
  letter-spacing: 0.15em;
}

.source-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 13%;
  margin-top: 5%;
  font-size: 14px;
}

.source {
  width: 100%;
}

.source img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5%;
  box-shadow: 3px 3px 3px #cfcfcf;
}

.source-text {
  line-height: 1.7;
  text-align: left;
}

.source-text p:nth-child(1) {
  font-size: 18px;
  margin-bottom: 3%;
}

/*-------------------------------------------
contact
-------------------------------------------*/

.contact {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 2s, transform 2s;
}

.contact h2 {
  margin-bottom: 5%;
}

.contact {
  margin-bottom: 12%;
  margin-top: 10%;
}

.contact-text {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.8;
  letter-spacing: 0.15em;
}

.contact-text span {
  font-size: 23px;
}

/*-------------------------------------------
フッター
-------------------------------------------*/
footer {
  background-color: #cde1e4;
}

.footer-copy {
  text-align: center;
  letter-spacing: 0.3em;
  padding: 10% 0%;
  color: #717171;
}

.active {
  opacity: 1;
  transform: translateY(0);
}

/*-------------------------------------------
900px_ヘッダー
-------------------------------------------*/
@media (max-width: 900px) {
  h1 {
    font-size: 23px;
  }
  .header-menu ul {
    font-size: 16px;
    gap: 15px;
  }
  /*-------------------------------------------
900px_メインビジュアル
-------------------------------------------*/

  .mainvisual-pc-img {
    display: none;
  }

  .mainvisual-text-img {
    width: 40%;
    left: 12%;
    top: 25%;
  }

  .mainvisual-sp-img {
    display: block;
    width: 90%;
    margin-top: 140px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px #e4e4e4;
  }

  /*-------------------------------------------
900px_導入
-------------------------------------------*/

  .introduction p {
    width: 90%;
    margin-bottom: 14%;
    line-height: 1.6;
  }

  /*-------------------------------------------
900px_works
-------------------------------------------*/
  .works {
    width: 90%;
  }

  h2 {
    font-size: 47px;
  }

  .Works-list-wrap {
    display: block;
    margin-bottom: 15%;
  }

  .link-btn {
    margin-bottom: 10%;
  }

  .link-btn {
    margin-bottom: 20%;
  }

  /*-------------------------------------------
900px_works_リンク先
-------------------------------------------*/

  .works-content {
    width: 90%;
  }

  /*-------------------------------------------
900px_Skill
-------------------------------------------*/
  .skill-wrap {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2% 3%;
  }

  .Works-list-wrap li {
    margin-bottom: 8%;
  }

  /*-------------------------------------------
900px_about
-------------------------------------------*/

  .about-text {
    line-height: 1.7;
  }

  .about-text-wrap {
    width: 90%;
    margin-bottom: 7%;
  }

  .about-text br {
    display: none;
  }

  /*-------------------------------------------
900px_about_リンク先
-------------------------------------------*/

  .internal-page-h2 {
    padding-top: 25%;
  }

  .source-wrap {
    width: 80%;
  }

  .source-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 4% 5%;
    width: 90%;
    margin-top: 8%;
  }

  /*-------------------------------------------
900px_contact
-------------------------------------------*/

  .contact-text {
    width: 90%;
  }
}

/*-------------------------------------------
700px_ヘッダー
-------------------------------------------*/

@media (max-width: 700px) {
  .header-menu {
    flex-direction: column;
    display: block;
    line-height: 1.5;
    height: 80px;
  }

  /*-------------------------------------------
700px_メインビジュアル
-------------------------------------------*/

  .mainvisual-text-img {
    top: 31%;
  }

  .mainvisual-sp-img {
    margin-top: 140px;
  }

  /*-------------------------------------------
700px_about
-------------------------------------------*/

  .strengths-wrap {
    flex-direction: column;
    margin-bottom: 17%;
  }

  .strengths-text-wrap {
    width: 90%;
    margin: 0 auto;
  }

  .strengths-lead {
    min-height: 0px;
  }
}

/*-------------------------------------------
450px_ヘッダー
-------------------------------------------*/
@media (max-width: 450px) {
  body {
    font-size: 14px;
  }

  .header-menu ul {
    gap: 10px;
  }

  h1 {
    margin-bottom: 1%;
  }

  h2 {
    font-size: 38px;
  }

  /*-------------------------------------------
450px_メインビジュアル
-------------------------------------------*/

  .mainvisual-sp-img {
    margin-top: 120px;
  }

  .mainvisual-text-img {
    top: 33%;
  }

  /*-------------------------------------------
450px_Works
-------------------------------------------*/

  .works h3 {
    line-height: 0.8;
    padding-bottom: 3%;
    font-size: 22px;
  }

  .works-content h3 {
    line-height: 1.2;
    padding-bottom: 3%;
    font-size: 22px;
  }

  h4 {
    padding-left: 2%;
    margin-top: 7%;
    margin-bottom: 2%;
  }

  .works-content {
    margin-top: 8%;
  }

  .works-content p {
    line-height: 1.8;
    letter-spacing: 0.08em;
    font-size: 15px;
  }

  .works-content-url-sp {
    margin-top: 3%;
  }

  /*-------------------------------------------
450px_about_リンク先
-------------------------------------------*/

  .source-wrap {
    display: block;
  }

  .source-text {
    margin-bottom: 10%;
  }

  .works h3 {
    line-height: 1.3;
  }

  /*-------------------------------------------
450px_フッター
-------------------------------------------*/
  .contact-text br {
    display: none;
  }
}
